# Python compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
.env
.venv/
venv/
env/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project-specific ignored folders (Data & Outputs)
logs/
data/raw/
data/processed/
models/saved/
scratch/

# Text files / logs
*.log
pipeline_output.txt
